Aider/bin
Aider/__pycache__
Aider/document_chunks
Aider/etc
Aider/lib
Aider/lib64
Aider/local
Aider/recruitment_documents
Aider/share
Aider/temp
Aider/.env
./*.pdf
Docs
Docs/*
Aider/include
Aider/pyvenv.cfg
Aider/analysis_results
diagram-export-12-11-2024-3_51_49-PM.png
document-export-12-11-2024-3_51_48-PM.md
eraser-export-export-12-11-2024-3_51_49-PM.zip
Aider/uploaded_documents
Aider/VectoreStoreManager.py